{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="form-title">Количка</h3>
    {% if cart|length > 0 %}
        <form method="post" action="" class="clearfix">
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Заглавие</th>
                        <th>Ед. цена</th>
                        <th>Количество</th>
                        <th>Общо</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set total = 0 %}
                    {% for book in cart %}
                        {% set subtotal = book.price * book.quantity %}
                        <tr>
                            <td>
                                {{ book.title }}
                                <a href="{{ path('cart_remove', { 'key': book.key }) }}">(изтрий)</a>
                            </td>
                            <td class="text-center">{{ book.price|number_format(2, '.', '') }} лв</td>
                            <td>
                                <select onchange="update_qty(this,'{{ book.key }}')">
                                    {% for i in 1..10 %}
                                        <option value="{{ i }}"
                                                {% if i == book.quantity %}selected{% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="right">{{ subtotal|number_format(2, '.', '') }} лв</td>
                        </tr>
                        {% set total = total + subtotal %}
                    {% endfor %}
                    <tr>
                        <td colspan="2"></td>
                        <td class="right"><strong>Общо</strong></td>
                        <td class="right">{{ total|number_format(2, '.', '') }} лв</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Наличност във виртуален портфейл</td>
                        <td class="right">{{ cash|number_format(2, '.', '') }} лв</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

        <div class="row text-center">
            <a href="{{ url('homepage') }}" class="btn btn-success btn-lg mobile-button" style="margin-top: 15px">Разгледайте
                още предложения</a>
        </div>
        {% if user %}
            <form method="post" class="clearfix">
                <div class="col-md-12 mb-20">
                    <button type="submit" class="btn btn-primary pull-right mobile-button" id="order_now">Завърши поръчката</button>
                </div>
                <p>&nbsp;</p>
            </form>
        {% else %}
            <div class="row text-center" style="margin:30px 0;">
                <a href="{{ path('user_login') }}?cart" class="no-hov-underline">
                    <input type="button" value="Вход" class="btn btn-primary btn-lg mobile-button">
                </a>
                <a href="{{ path('user_register') }}?cart" class="no-hov-underline">
                    <input type="button" value="Регистрация" class="btn btn-primary btn-lg mobile-button"
                           style="margin-left: 15px">
                </a>
            </div>
        {% endif %}
    {% elseif app.session.flashBag.has('order_success') %}
        <div class="alert alert-success" role="alert">
            Покупката беше завършена.
        </div>
        <div class="row text-center">
            <a href="{{ url('homepage') }}" class="btn btn-primary mobile-button"
               style="margin-top: 15px;margin-bottom: 30px;">Към началната страница</a>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Количката е празна
        </div>
        <div class="row text-center">
            <a href="{{ url('homepage') }}" class="btn btn-success mobile-button"
               style="margin-top: 15px;margin-bottom: 30px;">Разгледайте нашите предложения</a>
        </div>
    {% endif %}
    <script type="text/javascript">
        function update_qty(el,key) {
            $('#order_now').prop('disabled', true);
            window.location = '{{ url('homepage') }}cart/update/'+key+'/'+$(el).val();
        }
    </script>
{% endblock %}
