{% extends 'base.html.twig' %}

{% block body %}
    <div class="posts-list-wrapper  horizontal-list-3 accent-2-color">
        <div class="list-title">
            <h3 id="page_title">{{ page_title }}</h3>
        </div>
        <div class="posts-list shop-product item-as-post horizontal-list-3 accent-2-color" id="deals_wrapper">
            {% for book in books %}
                <div class="shop-product">
                    <div class="entry" itemtype="http://schema.org/Product">
                        <div class="do-thumbnail">
                            <a href="{{ path('book_view', { 'id': book.id }) }}">
                                <img src="{{ asset('uploads/books/s/default.jpg') }}"/>
                            </a>
                        </div>
                        <div class="entry-data">
                            <div class="entry-header">
                                <div class="entry-top">
                                    <a class="entry-title do-box-title" href="{{ path('book_view', { 'id': book.id }) }}">
                                        <h3>{{ book.title }}</h3>
                                    </a>
                                    <div class="entry-author">
                                        {{ book.author }}
                                    </div>
                                </div>
                                <div class="entry-meta">
                                    <div class="price-offer">
                                        <div class="discount">
                                            {% if book.price == book.promo_price %}
                                                ТОП
                                            {% else %}
                                                -{{ book.discount }}%
                                            {% endif %}
                                        </div>
                                        <div class="price">
                                            <span class="amount">
                                                {% if book.price == book.promo_price %}
                                                    {{ book.price|number_format(2, '.', '') }}
                                                {% else %}
                                                    {{ book.promo_price|number_format(2, '.', '') }}
                                                {% endif %}
                                                <span class="currency">лв</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
