{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projects list</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Country</th>
            <th>Image</th>
            <th>Goal</th>
            <th>Deadline</th>
            <th>Datecreated</th>
            <th>Dateupdated</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ countries[project.country] }}</td>
                <td><img src="/images/project/{{ project.image }}" style="width: 50px;"/></td>
                <td>{{ project.goal }}</td>
                <td>{% if project.deadline %}{{ project.deadline|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if project.dateCreated %}{{ project.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if project.dateUpdated %}{{ project.dateUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_project_delete', { 'id': project.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('project_new') }}">Create a new project</a>
        </li>
    </ul>
{% endblock %}
