{% extends 'base.html.twig' %}

{% block body %}
    <div class="posts-list-wrapper horizontal-list-3 accent-2-color">
        <h3 class="form-title">{{ book.title }}</h3>
        <div class="row single-product">
            <div class="col-md-6">
                <img src="{{ asset('uploads/books/default.jpg') }}" class="book-img"/>
            </div>
            <div class="col-md-6 Roboto mobile-text">
                <strong>Автор:</strong> {{ book.author }}
                <br/>
                <strong>Категории:</strong> {{ book.category.name }}
                <br/>
                {% if book.price == book.promo_price %}
                    <br/>
                    <strong>Цена:</strong> {{ book.price|number_format(2, '.', '') }}лв
                    <br/>
                {% else %}
                    <strong>Корична цена:</strong> {{ book.price|number_format(2, '.', '') }}лв<br/><br/>
                    <strong>Отстъпка:</strong> <span class="table-highlight">{{ book.discount|number_format }}%</span><br/>
                    <strong>Промо цена:</strong> <span class="table-highlight">{{ book.promo_price|number_format(2, '.', '') }}лв</span><br/>
                {% endif %}
                <strong>Налично количество:</strong> {{ book.quantity }}
                <br/>
                {% if book.quantity > 0 %}
                    <div class="row text-center">
                        <a href="{{ path('cart_add', { 'id': book.id }) }}" class="no-hov-underline">
                            <input type="button" value="Купи сега" class="btn btn-primary mobile-button mt20">
                        </a>
                    </div>
                {% else %}
                    <input type="button" value="Изчерпана" class="blue-button btn-out-of-stock">
                {% endif %}
                {% if secondhand|length > 0 %}
                    <h4>Втора употреба</h4>
                    <table class="table">
                        <th>Количество</th>
                        <th>Цена</th>
                        <th></th>
                        {% for item in secondhand %}
                            <tr>
                                <td>{{ item.qty }}</td>
                                <td>{{ item.price|number_format(2, '.', '') }}лв</td>
                                <td><a href="{{ path('cart_add', { 'id': book.id, 'usersbook_id': item.id }) }}" class="no-hov-underline">
                                        <input type="button" value="Купи" class="btn btn-primary">
                                    </a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        {{ book.description }}
    </div>
{% endblock %}
