{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="form-title">{{ page_title }}</h3>
    {% if usersbooks|length > 0 %}
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Книга</th>
                    <th>Количество</th>
                    <th>В продажба</th>
                    <th>Цена</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for userbook in usersbooks %}
                    <tr>
                        <td>{{ userbook.getBook.title }}</td>
                        <td>{{ userbook.qty }}</td>
                        <td>{% if userbook.selling == 1 %}Да{% else %}Не{% endif %}</td>
                        <td>{{ userbook.price|number_format(2, '.', '') }}</td>
                        <td><a href="{{ path('profile_mybooks_edit', { 'id': userbook.id }) }}">(редакция)</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">Все още нямате закупени книги</div>
    {% endif %}
{% endblock %}
