<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Другите Книги{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#ff5722"/>
    <link rel="icon" type="image/png" href="{{ asset('images/favicon_new.png') }}"/>
    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/css/bootstrap.min.css'
        '@AppBundle/Resources/public/css/awesome-bootstrap-checkbox.css'
        '@AppBundle/Resources/public/css/font-awesome.min.css'
        '@AppBundle/Resources/public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
<div id="page" class="hfeed site">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="slide-nav">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-toggle">
                    <span class="sr-only">Мобилна навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" href="{{ url('homepage') }}" style="padding: 2px 15px;"><img
                            src="{{ asset('images/logo_new.png') }}" alt="Другите книги"/></a>
                <a href="{{ url('homepage') }}cart" id="cart_icon"><i class="fa fa-shopping-cart fa-2x"
                                                                      aria-hidden="true"></i></a>
            </div>
            <div id="slidemenu">
                <ul class="nav navbar-nav">
                    <li{% if menu == 'book' %} class="active"{% endif %}><a href="{{ url('homepage') }}">Книги</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user is defined and user %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                            <li{% if menu == 'manage' %} class="active"{% endif %}><a
                                        href="{{ url('manage_books') }}">Администрация</a></li>
                        {% endif %}
                        <li{% if menu == 'cart' %} class="active"{% endif %}><a
                                    href="{{ url('cart_view') }}">Количка</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Профил <b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li{% if menu == 'profile' %} class="active"{% endif %}><a
                                            href="{{ path('profile_info') }}">Профил</a></li>
                                <li{% if menu == 'mybooks' %} class="active"{% endif %}><a
                                            href="{{ path('profile_mybooks') }}">Моите книги</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path('user_logout') }}">Изход</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li{% if menu == 'register' %} class="active"{% endif %}><a href="{{ path('user_register') }}">Регистрация</a>
                        </li>
                        <li{% if menu == 'login' %} class="active"{% endif %}><a
                                    href="{{ path('user_login') }}">Вход</a>
                        </li>
                    {% endif %}
                </ul>
                <div id="slide_options" style="display: none"></div>
            </div>
        </div>
    </div>
    <div id="main" class="site-main">
        <div id="primary" class="content-area">
            <div id="content" class="site-content" role="main">
                <div class="vc_row-fluid container">
                    {% if show_sidebar is defined %}
                        <div id="sidebar_options" class="widget-menu vc_column_container">
                            {{ block("sidebar", "sidebar.html.twig") }}
                        </div>
                    {% endif %}
                    <div class="wpb_column vc_column_container clearfix
                        {% if white_page is defined %} white-page{% endif %}{% if single_page is defined %} single-page"{% else %}" id="do-right-col"{% endif %}
                    >
                    {% if admin_navigation is defined %}
                        <div class="navbar-default w100 clearfix">
                            <ul class="nav navbar-nav">
                                <li{% if submenu == 'books' %} class="active"{% endif %}><a
                                            href="{{ url('manage_books') }}">Книги</a></li>
                                <li{% if submenu == 'categories' %} class="active"{% endif %}><a
                                            href="{{ url('manage_categories') }}">Категории</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li{% if submenu == 'users' %} class="active"{% endif %}><a
                                                href="{{ url('manage_users') }}">Потребители</a></li>
                                    <li{% if submenu == 'promotions' %} class="active"{% endif %}><a
                                                href="{{ url('manage_promotions') }}">Промоции</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success" role="alert">
                            {% for message in app.session.flashBag.get('success') %}
                                {% if loop.index0 > 0 %}<br/>{% endif %}{{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if app.session.flashBag.has('error') %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in app.session.flashBag.get('error') %}
                                {% if loop.index0 > 0 %}<br/>{% endif %}{{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div><!-- #content -->
    </div><!-- #primary -->
</div><!-- #main -->
<div id="mobile-nav-bg"></div>
<footer id="colophon" class="site-footer clearfix">
    <div class="footer-dash"></div>
    <div class="container footer-inner">
        <p class="copyright"><strong>Copyright {{ "now"|date("Y") }} </strong>&#8211; Другите Книги &#8211; Всички
            права запазени</p>
        <div class="footer-menu">
            <a href="{{ url('homepage') }}">Начало</a>
        </div>
    </div>
</footer>

</div><!-- #page -->
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery-3.1.0.min.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/jquery.history.min.js'
    '@AppBundle/Resources/public/js/jquery.touchSwipe.min.js'
    '@AppBundle/Resources/public/js/main.js'
    filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>