{% extends 'base.html.twig' %}
{% block sidebar %}
<div class="do-white-column clearfix">
    <div class="wpb_wrapper">
        <div class="wpb_widgetised_column wpb_content_element">
            <div>
                <div class="non-map-navigation">
                <div class="do-sidebar-title"><h3>Категории</h3></div>
                <div class="categories-wrapper">
                    <a href="{{ url('homepage') }}" class="category{% if sel_cat == 0 %} cat-selected{% endif %}"><i class="fa fa-arrow-right"></i> Всички категории</a>
                    {% for category in categories %}
                        <a href="{{ path('book_category', { 'id': category.id }) }}" class="category{% if sel_cat == category.id %} cat-selected{% endif %}">
                            <i class="fa fa-arrow-right"></i> {{ category.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}