{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wellcome to  SoftFund</h1>

    <a href="{{ url('project_index') }}">Projects</a> |
    {% if is_granted('ROLE_USER') %}
        <a href="{{ url('project_new') }}">Create Project</a>
    {% endif %}
    <a href="{{ url('admin_manage_projects') }}">manage projects</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('admin_manage_projects') }}">manage projects</a>
{% endif %}
{% endblock %}
