{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="form-title">{{ page_title }}</h3>
    <div class="row col-md-12 text-right">
        Налична сума: <strong>{{ user.cash|number_format(2,'.','') }}</strong>лв<br/>
        Роля: <strong>{{ user.getRoleFormatted }}</strong>
    </div>
    {% form_theme form 'bootstrap_3_layout.html.twig'  %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row col-md-12 text-right">
        <input type="submit" value="{{ btn_name }}" class="btn btn-success mt20"/>
    </div>
    {{ form_end(form) }}
{% endblock %}
