{% extends '::base.html.twig' %}

{% block body %}
    <h3 class="form-title">Вход</h3>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form class="clearfix" method="post" style="margin: 20px;" action="{{ path('user_check') }}">
        <div class="row form-group col-md-4 col-md-offset-4">
            <label class="control-label">Потребителско име</label>
            <input class="form-control" type="text" placeholder="Потребителско име" id="username" name="_username" value="{{ last_username }}"/>
        </div>
        <div class="row form-group col-md-4 col-md-offset-4">
            <label class="control-label">Парола</label>
            <input class="form-control" type="password" placeholder="Парола" id="password" name="_password"/>
        </div>
        <div class="row col-md-4 col-md-offset-4 mb-20">
            <button type="submit" class="btn btn-primary pull-right">Вход</button>
        </div>
    </form>
{% endblock %}