{% extends '::base.html.twig' %}

{% block body %}
    <h3 class="form-title">Регистрация</h3>
    {% form_theme form 'bootstrap_3_layout.html.twig'  %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row col-md-12 text-right">
        <input type="submit" value="Регистрация" class="btn btn-success mt20"/>
    </div>
    {{ form_end(form) }}
{% endblock %}