.navbar.slide-active {
    width: 100%;
}
html {
    overflow-y: auto;
    overflow-x: hidden;
}
#slide_options {
    border-top: 1px solid #000;
}
.noScroll {
    overflow: hidden;
}
.vc_row-fluid.container {
    margin-bottom: 118px;
}
body {
    height: 100%;
    min-width: 500px;
    font-family: 'Arimo', sans-serif;
    letter-spacing: .01rem;
    color: #3C3C3C;
    margin: 0;
    font-size: 15px;
}
.Roboto {
    font-family: 'Roboto', sans-serif;
}
.Helvetica {
    font-family: Helvetica,Arial,sans-serif;
}
#page {
    position: relative;
}
/*Bootstrap left menu*/
/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden;
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}

@media (min-width: 841px) {
    .navbar-toggle {
        display: none;
    }
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:840px) { 
    #slide-nav .container {
        margin: 0!important;
        padding: 0!important;
      height:100%;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-brand {
        margin: auto !important;
        width: 127px;
        display: block;
        float: none;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
        float: none;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #fff;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: fixed;
        padding-left: 0;
        z-index: 2;
        top: 0px;
        margin: 0;
        overflow-y: auto;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
        float: none;
    }
    .navbar-form {
        padding: 10px 15px;
        margin-top: 8px;
        margin-right: -15px;
        margin-bottom: 8px;
        margin-left: -15px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-form .form-group {
        display: block;
    }
    .navbar-form .form-control {
        display: block;
        width: 100%;
    }
    .navbar-left, .navbar-right, .navbar-nav>li {
        float: none !important;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0;
        position: fixed;
    }
    #slide-nav.navbar-inverse #slidemenu {
        background: #333
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        bottom:0;
        width: 80%;
        left: -80%;
        background: #fff;
        z-index: 10;
    }
    #navbar-height-col.inverse {
        background: #333;
        z-index: 1;
        border: 0;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
}
@media (min-width:841px) { 
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
}


/*Color change*/

.navbar-default {
  background-color: #ffffff;
  border-color: #ff5722;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
    color: #31659B;
    font-weight: bold;
    font-size: 17px;
    /*font-family: Arial;*/
    font-family: 'Roboto', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #ff6b3c;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ff5722;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ff5722;
}
.navbar-default .navbar-toggle {
  border-color: #ff5722;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff5722;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ff5722;
  }
}

/*End Color Change*/
/*
.navbar-brand {
    height: 20px;
}*/

/*End Bootstrap left menu*/

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #337ab7 !important;
    outline: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}


.mb-20 {
    margin-bottom: 20px;
}
.form-control, .navbar-form {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#active_filters {
    margin: 0;
    text-align: left;
    display: none;
    padding-bottom: 0;
}
#active_filters button {
    margin-bottom: 7px;
}
#active_filters button:not(:last-child) {
    margin-right: 10px;
}

.do-sidebar-title {
    position: relative;
    display: inline-block;
    width: 100%;
    border: none;
}
.do-sidebar-title h3 {
    border-bottom: 1px solid #cccccc;
    margin-top: 12px;
    margin-bottom: 7px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 0;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.do-white-column {
	background-color: #fff;
	padding: 10px;
    /*position: fixed;*/
    top: 85px;
    width: 300px;
    margin-bottom: 15px;
}
.do-tag {
	position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0 20px 0 23px;
    height: 26px;
    border-radius: 3px 0 0 3px;
    background: #f5f5f5;
    color: #000000;
    text-decoration: none;
    font-size: 14px !important;
    line-height: 26px;
    -webkit-transition: all 0.4s;
    -khtml-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.do-tag::before {
	position: absolute;
    top: 10px;
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    -webkit-transition: all 0.4s;
    -khtml-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.do-tag::after {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #f5f5f5;
    background: #ffffff;
    content: '';
    -webkit-transition: all 0.4s;
    -khtml-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.do-tag:hover::after {
	border-left-color: #ff5722;
}
.do-tag:hover {
    background-color: #ff5722;
    color: #ffffff;
}
.do-thumbnail {
    text-align: center;
    overflow: hidden;
}
.do-thumbnail a img {
    height: 180px;
    padding-top: 5px;
}
.book-img {
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;
}
.entry-author {
    padding: 5px 5px 5px 12px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 16px;
}
.do-box-title {
	/*height: 80px;*/
}
.do-box-title h3 {
    max-height: 67px;
    overflow: hidden;
    display: block !important;
}
.price-offer .price {
    float: right !important;
    height: 30px;
}
.price-offer {
    padding-bottom: 2px;
    height: 35px;
}
.categories-wrapper {
    float:left;
    margin-bottom: 12px;
}
.categories-wrapper .category, .categories-wrapper .external {
    cursor: pointer;
    height: 32px;
    line-height: 22px;
    font-size: 16px;
    padding: 5px 10px;
    width: 270px;
    color: #000;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
}
.categories-wrapper .category i, .categories-wrapper .external i {
    font-size: 14px;
    color: #337ab7;
    top: -2px;
    margin-right: 7px;
    position: relative;
}
.categories-wrapper .category:hover i, .categories-wrapper .cat-selected i, .categories-wrapper .external:hover i {
    /*text-decoration: underline;*/
    color: #ff5722;
}
.cat-selected {
    font-weight: bold;
}
.categories-wrapper .cat-child {
    margin-left: 20px;
    width: 240px;
}
.categories-wrapper .section {
    float: left;
    width: 50%;
    white-space: nowrap;
    line-height: 17px;
}
.categories-wrapper .section:hover label {
    text-decoration: underline;
}
#header{
    margin: 0 auto;
}
#secondary {
    color: #ffffff;
    font-size: 13px;
    padding: 10px 0;
}
#deals_wrapper {
    position: relative;
    width: 100%;
    max-width: 962px;
    margin-top: 10px;
}
.shop-product .entry {
    margin-bottom: 11px;
}
.do-white-column, .single-page {
    border-top: 1px solid #ff5722;
}
.shop-product .entry, .list-title, .do-white-column, .single-page {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(186, 186, 186, 0.7);
    -khtml-box-shadow: 0px 1px 2px 0px rgba(186, 186, 186, 0.7);
    -moz-box-shadow: 0px 1px 2px 0px rgba(186, 186, 186, 0.7);
    box-shadow: 0px 1px 2px 0px rgba(186, 186, 186, 0.7); /*0 2px 3px -1px*/
    -webkit-transition: all 0.3s;
    -khtml-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ffffff;
}
.do-sort {
    float: right;
}
.site-header {
  background-color: #ffffff;
  z-index: 2;
  position: fixed;
  width: 100%
}
.site-main {
    position: relative;
    z-index: 1;
    padding-top: 71px;
}
.list-title {
    border-top: 1px solid #ff5722;
    position: relative;
    padding: 7px;
    background-color: #fff;
    max-width: 961px;;
}
.list-title h3, .form-title {
    border-top: none;
    letter-spacing: initial;
    font-weight: 700;
    font-size: 22px;
    padding: 4px 0 0;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    margin: 3px 0 8px 10px;
}
.list-title h3 {
    display: inline-block;
}
.form-title {
    display: block;
}
#return-to-top {
    z-index: 50;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
.category label, .section label {
    cursor: pointer;
    font-size: 15px;
}
select.form-control {
    font-size: 15px;        
}
#no_more_offers {
    display: none;
    text-align: center;
    width: 250px;
    margin: 10px auto 30px;
    height: 35px;
    font-size: 16px;
    background-color: #E1F3FF;
    border: 2px solid #546596;
    color: black;
    padding: 5px;
    font-family: helvetica;
}

#load_more_offers {
    display: none;
    text-align: center;
    width: 250px;
    margin: 10px auto 30px;
    height: 36px;
    font-size: 16px;
    background-color: #E1F3FF;
    border: 2px solid #546596;
    color: black;
    padding: 5px;
    font-family: helvetica;
    cursor: pointer;
}

#load_more_offers:hover {
    text-decoration: underline;
}

.entry-title h3 {
    font-size: 17px !important;
    /*font-family: Arial !important;*/
    font-family: 'Arimo', sans-serif;
    font-weight: normal !important;
    line-height: 1.13636364;
    color: #000;
}
@media (min-width: 43.75em) {
    .entry-title h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }
}
@media (min-width: 56.25em) {
    .entry-title h3 {
        font-size: 1.75em;
        line-height: 1.25;
    }
}
.entry-title {
    padding: 7px !important;
}
.social {
    /*margin-right: 50px;*/
    display: inline-block;
    margin-left: 20px;
}

.widget-menu {
    float: left;
    width: 300px;
}

#mobile_toggle_nav {
    display: none;
    width: 462px;
    margin: auto;
    color: #292929;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}

#sidebar_small_ad {
    margin: 0 auto 15px;
    width: 300px;
}
#sidebar_ad {
    margin: 0 auto 15px;
    width: 300px;
}
.fb-page {
    margin: 0 auto 15px;
    width: 300px;
    display: block !important;
}



@media (min-width: 1321px) {
    #do-right-col {
        width: 967px;
        float: right;
    }
    #do-right-col-single {
        width: 947px;
        float: right;
    }
    .shop-product:nth-child(4n) {
        margin-right: 0;
    }
    .container {
        width: 1282px;
    }
    #main_searchform {
        width: 500px;
    }
    .single-page {
        max-width: 900px;
    }
    #logo {
        float: left;
    }
}
@media (max-width: 1320px) {
    #do-right-col {
        width: 721px;
        float: right;
    }
    #do-right-col-single {
        width: 700px;
        float: right;
    }
    .shop-product:nth-child(3n) {
        margin-right: 0;
    }
    .vc_row-fluid.container {
        width: 1035px;
    }
    #main_searchform {
        width: 255px;
    }
    .single-page {
        max-width: 900px;
    }
    #logo {
        float: left;
    }
}
#slide-nav .container {
    width: 100%;
}
@media (max-width: 1080px) {
    #do-right-col {
        width: 477px;
        float: right;
    }
    #do-right-col-single {
        width: 456px;
        float: right;
    }
    .shop-product:nth-child(3n) {
        margin-right: 11px;
    }
    .shop-product:nth-child(2n) {
        margin-right: 0;
    }
    .vc_row-fluid.container {
        width: 791px;
        /*width: 698px;*/
    }
    #main_searchform {
        width: 741px;
        margin: 14px 14px 0 !important;
    }
    #footer_rows p, #footer_rows div {
        width: 100%;
        text-align: center;
    }
    .single-page {
        max-width: 900px;
    }
    #logo {
        float: left;
    }
}
@media (min-width: 840px) and (max-width: 1010px) {
    .navbar-header {
        width: 100%;
    }
    .navbar-brand {
        float: none;
        display: block;
        width: 203px;
        margin: auto !important;
    }
    .site-main {
        padding-top: 121px;
    }
}

@media (max-width: 840px) {
    /*.site-main {
        padding-top: 0;
    }*/
    p,
    .mobile-text {
        font-size: 17px !important;
    }
    .blue-button.mobile-button {
        font-size: 25px !important;
        height: 45px !important;
    }
    .btn.mobile-button {
        font-size: 25px !important;
        height: 49px !important;
        padding: 6px 12px !important;
    }
    #do-right-col {
        width: 476px;
        margin: auto;
        float: none;
    }
    #do-right-col-single {
        width: 456px;
        margin: auto;
        float: none;
    }
    .shop-product:nth-child(3n) {
        margin-right: 11px;
    }
    .shop-product:nth-child(2n) {
        margin-right: 0;
    }
    .vc_row-fluid.container {
        width: 100%;/*480px;*/
    }
    #main_searchform {
        width: 254px;
        margin: 14px 0 4px 20px !important;
        float: none !important;
    }
    #logo {
        width: 460px;
        margin: auto !important;
        display: block;
        float: none;
        height: 46px;
    }
    .widget-menu {
        display: none;
        float: none;
        width: 476px;
        margin: auto;
        margin-bottom: 15px;
    }
    .widget-menu.visible {
        display: block;
    }
    .do-white-column {
        position: relative;
        top: 0;
        width: 100%; /*456px*/
    }
    #mobile_toggle_nav {
        display: block;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        margin-bottom: 20px;
        padding: 14px 7px 12px;
        background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(50%,#FFFFFF),color-stop(50%,#FBFBFB));
        background-image: -moz-linear-gradient(#FFFFFF 50%,#FBFBFB 50%);
        background-image: -webkit-linear-gradient(#FFFFFF 50%,#FBFBFB 50%);
        background-image: linear-gradient(#FFFFFF 50%,#FBFBFB 50%);
        border: 1px solid #EAEAEA;
    }
    #mobile_toggle_nav.active {
        margin-bottom: 0;
        /*padding: 14px 7px 3px !important;*/
    }
    .single-page {
        max-width: 460px;
    }
}
@media (max-width: 550px) {
    .social {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .footer-menu {
        margin-top: 20px;
    } 
}

@media (max-width: 520px) {
    #footer_rows p, #footer_rows div {
        text-align: left;
    }
    .single-page {
        max-width: 460px;
    }
    /*#colophon {
       position: relative !important; 
    }*/
    
}

@media (max-width: 43.75em) {
    .do-box-title h3 {
        height: 59px;
    }
    .do-box-title {
        height: 58px;
    }
    .shop-product .entry .entry-data {
        min-height: 143px;
    }
}
/*
#page, #masthead {
    min-width: 520px;
}
*/
#masthead {
    /*min-width: 503px;*/
    border-bottom: 1px solid #FF5722;
}

.do-ntm h3 {
    margin-top: 0;
}
#gmap {
    width: 100%;
    height: 400px;
}
#map_wrapper {
   display: none;
   border-top: 1px solid #c5c5c5;
   border-bottom: 1px solid #c5c5c5;
   max-width: 962px;
}
html {
    position: relative;
    min-height: 100%;
}

/*noinspection CssUnknownTarget*/
body {
    /*margin: 0 0 108px;*/ /* bottom = footer height */
    background: url('../../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#colophon {
    position: absolute;
    left: 0;
    bottom: -129px; /*0*/
    height: 129px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    display: block;
}
.copyright {
    float: left;
    margin-top: 10px;
    margin-bottom:0;
}
.footer-dash {
    border-top-width: 1px;
    border-top-color: #ededed;
    border-top-style: dashed;
}
.footer-inner {
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer-menu {
    float: right;
}
#main_searchform {
    float: right;
    height: 30px;
    margin: 14px 20px 0 0;
}
#map_searchform {
    margin-top: 10px;
    display: none;
}
#main_searchform input:focus, #map_searchform input:focus {
    background: transparent;
    background: rgba(163, 135, 106, 0.2);

    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -moz-box-shadow:    inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -o-box-shadow:      inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5);
}

/*noinspection CssUnknownTarget*/
#main_searchform label, #map_searchform label {
    background: transparent url('../images/icon-search.png') no-repeat top left;
    cursor: pointer;
    display: block;
    height: 17px;
    left: 11px;
    position: relative;
    text-indent: -99999px;
    top: -21px;
    width: 16px;
}
#logo {
    margin-left: 20px;
}
.info-box {
    font-size: 16px;
    text-align: center;
    position: relative;
    padding: 7px;
    background-color: #fff;
    max-width: 947px;
}
#loading_layer {
    margin: auto;
    display: none;
    margin-bottom: 20px;
}
#map_button, #all_button {
    display: block;
    cursor: pointer;
    height: 30px;
    margin: auto;
    color: black;
    background-color: #31659B;
    padding: 5px 12px;
    border-radius: 20px;
}
#map_button {
    width: 141px;
}
#all_button {
    width: 202px;
}
#map_button span, #all_button span {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
    margin-top: 3px;
    float: left;
}
#map_button:hover span, #all_button:hover span {
    text-decoration: underline;
}
#map_button img {
    margin-left: 9px;
    width: 40px;
}
#all_button img {
    margin-left: 9px;
    width: 21px;
}
.single-page {
    background-color: #FFF;
    padding: 10px;
    margin: 0 auto 20px;
    width: 100%;
}
.white-page {
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 20px !important;
}
.blue-button {
    display: block;
    cursor: pointer;
    height: 30px;
    margin: auto;
    color: white;
    background-color: #31659B;
    padding: 5px 16px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    font-family: Arial;
}
.errors {
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    color: #EC0505;
}
.success {
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    color: #0FA70F;
}
.shop-product-c .entry {
    height: 331px;
}
.entry-view-details {
    color: black;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    visibility: hidden;
}
.entry-view-details a {
    color: black;
    text-decoration: underline;
}
.offer_ended {
    text-align: center;
    font-size: 24px;
    color: #ff5722;
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial;
}
#help_banner {
    margin-top: 15px;
    display: inline-block;
}
#page_top_banner {
    margin-bottom: 15px;
}

.hidden {
    display: none !important;
}
div.checker {
    margin-top: -3px;
}
::-webkit-input-placeholder {
   color: #4A4A4A;
}
:-moz-placeholder { /* Firefox 18- */
   color: #4A4A4A;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #4A4A4A;  
}
:-ms-input-placeholder {  
   color: #4A4A4A;  
}
.entry-website {
    background-color:#000;
    color:#fff;
    height:25px;
    width:100%;
    margin:0;
    text-align:center;
}
.entry-website p {
    padding-top:2px;
}
.blogpost {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
    -khtml-box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
    -moz-box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
    box-shadow: 0 2px 3px -1px rgba(186, 186, 186, 0.7);
    -webkit-transition: all 0.3s;
    -khtml-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #ffffff;
}
.blogpost .entry-data {
    padding: 10px 30px 30px 30px;
}
.blogpost .entry-data .entry-title {
    padding: 0 !important;
}
.paginate {
  text-align: center;
  margin-bottom: 30px;
}
.paginate a {
border-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
margin: 1px 2px;
padding: 5px 10px;
display: inline-block;
border-top: 1px solid #fff;
text-decoration: none;
color: #717171;
font-size: smaller;
font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
text-shadow: white 0 1px 0;
background-color: #f5f5f5;
background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
background-image: linear-gradient(top, #f9f9f9, #eaeaea);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea'); }
.paginate a:first-child, .paginate a.first {
  margin-left: 0; }
.paginate a:last-child, .paginate a.last {
  margin-right: 0; }
.paginate a:hover, .paginate a:focus {
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
  background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
  background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
  background-image: -o-linear-gradient(top, #fefefe, #fafafa);
  background-image: linear-gradient(top, #fefefe, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa'); }
.paginate a.more {
  box-shadow: 0 0 0 0 transparent;
  border: 0 none;
  background: transparent;
  margin-left: 0;
  margin-right: 0; }
.paginate a.active {
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
  border-color: #505050;
  color: #f2f2f2;
  text-shadow: black 0 1px 0;
  background-color: #676767;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
  background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
  background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
  background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
  background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);
  background-image: linear-gradient(top, #5f5f5f, #5c5c5c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c'); }


.shop-product {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 232px;
    padding: 0;
    margin-right: 11px;
    font-size: 13px;
}
.horizontal-list-3:not(.posts-list-wrapper) {
    font-size: 0;
}
.container {
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box;
}
.container.vc_row-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.shop-product .entry .entry-data {
    float: left;
    width: 50%;
    position: relative;
    min-height: 151px;
    display: inline-block;
}
.posts-list.shop-product[class*="horizontal-list"] .shop-product .entry .entry-data {
    float: none;
    width: 100%;
    height: auto;
}
.shop-product .entry .entry-data .entry-header {
    margin: 0 15px;
}
.posts-list.shop-product[class*="horizontal-list"] .shop-product .entry .entry-data .entry-header, .posts-list.shop-product[class*="horizontal-list"] .shop-product .entry .entry-data .entry-summary {
    margin-left: 0;
    margin-right: 0;
}
.accent-2-color .shop-product .entry .entry-data .entry-header .entry-title {
    border-left: 5px solid #ff5722;
}
.posts-list.shop-product[class*="horizontal-list"] .shop-product .entry .entry-data .entry-header .entry-title, .posts-list.shop-product[class*="horizontal-list"] .shop-product .entry .entry-data .entry-summary .entry-title {
    margin-top: 0;
}
.shop-product .entry .entry-data .entry-header .entry-title {
    display: block;
}
.shop-product .entry .entry-data .entry-header .entry-title h3 {
    margin: 0;
    min-height: 2.5em;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.entry-top {
    height: 111px;
}
.orange-top {
    border-top: 1px solid #ff5722;
}
.price-offer {
    padding: 0px 15px;
}
.price-offer .discount {
    width: 20%;
    font-size: 29px;
    line-height: 30px;
    float: left;
    color: #ff5722;
    font-weight: 500;
}
.accent-2-color .shop-product .entry .entry-data .entry-header .entry-meta .price-offer .discount {
    color: #ff5722;
}
.price-offer .price {
    float: left;
    color: #333333;
    line-height: 30px;
    text-align: right;
}
.price-offer .price .amount {
    font-size: 29px;
    font-weight: 500;
}
.price-offer .price .amount .currency {
    font-weight: 300;
    font-size: 14px;
}
.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
}
ol, ul {
    list-style: none;
}
a {
    color: #ff5722;
    text-decoration: none;
}
.important-message {
    text-align: center;
    color: #ff5722;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.entry-thumbnail .image {
    background-position: center;
}
a.no-hov-underline {
    text-decoration: none;
}
#mobile-nav-bg {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#cart_icon {
    color:#000;
    position: absolute;
    top: 0;
    right: 0;
    padding: 9px 18px;
    display: none;
}
#slidemenu {
    -webkit-box-shadow: 4px 3px 8px rgba(144, 144, 144, 0.7);
    -khtml-box-shadow: 4px 3px 8px rgba(144, 144, 144, 0.7);
    -moz-box-shadow: 4px 3px 8px rgba(144, 144, 144, 0.7);
    box-shadow: 4px 3px 8px rgba(144, 144, 144, 0.7);
}
.fb-button {
    margin-top: 20px;
    text-align: center;
}
.fb-button a {
    font-size: 22px;
}
.fb-button i {
    margin-right:7px
}
.or-sep {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
    font-family: Arial;
}
.or-sep span:first-child hr {
    width: 100px;
    display: inline-block;
    position: relative;
    top: 6px;
    padding-right: 10px;
    margin: 11px 0;
    border-top: 1px solid #000;
}
.or-sep span:last-child hr {
    width: 100px;
    display: inline-block;
    position: relative;
    top: 6px;
    padding-left: 10px;
    margin: 11px 0;
    border-top: 1px solid #000;
}
.login-h4 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-family: Arial;
}
.price-table td {
    font-size: 16px;
    padding: 5px;
}
.table-highlight {
    font-weight: bold;
    font-size: 17px;
    color: #ff5722;
}
.row.single-product {
    margin-top:20px;
    margin-bottom:20px;
}
.mt20 {
    margin-top:20px;
}
.btn-out-of-stock {
    margin-top:20px;
    background-color:#d41b1b;
    cursor: default;
}
.w100 {
    width: 100%;
}