{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="form-title">{{ page_title }}</h3>
    {% if books|length > 0 %}
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Заглавие</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сортиране</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.quantity }}</td>
                        <td>{{ book.price|number_format(2, '.', '') }}</td>
                        <td>{{ book.sort }}</td>
                        <td>
                            <a href="{{ path('manage_book_edit', { 'id': book.id }) }}">(редакция)</a>
                            &nbsp;<a href="{{ path('manage_book_delete', { 'id': book.id }) }}">(изтрий)</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="row col-md-12 text-right">
        <a href="{{ path('manage_book_new') }}" class="btn btn-success mt20">Добави книга</a>
    </div>
{% endblock %}
