{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="form-title">{{ page_title }}</h3>
    {% if categories|length > 0 %}
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Заглавие</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('manage_category_edit', { 'id': category.id }) }}">(редакция)</a>
                            {% endif %}
                            &nbsp;<a href="{{ path('manage_category_delete', { 'id': category.id }) }}">(изтрий)</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="row col-md-12 text-right">
        <a href="{{ path('manage_category_new') }}" class="btn btn-success mt20">Добави категория</a>
    </div>
{% endblock %}
