{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="form-title">{{ page_title }}</h3>
    {% if promotions|length > 0 %}
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>От</th>
                    <th>До</th>
                    <th>Условие</th>
                    <th>Отстъпка</th>
                    <th>Активна</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for promotion in promotions %}
                    <tr>
                        <td>{{ promotion.id }}</td>
                        <td>{{ promotion.start|date("d.m.Y H:i:s") }}</td>
                        <td>{{ promotion.end|date("d.m.Y H:i:s") }}</td>
                        <td>{{ promotion.getFormattedCondition }}</td>
                        <td>{{ promotion.discount }}</td>
                        <td>{% if promotion.active == 1 %}Да{% else %}Не{% endif %}</td>
                        <td>
                            <a href="{{ path('manage_promotion_edit', { 'id': promotion.id }) }}">(редакция)</a>
                            &nbsp;<a href="{{ path('manage_promotion_delete', { 'id': promotion.id }) }}">(изтрий)</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 text-right">
            <div class="form-group">
                <label class="control-label required" for="type">Тип промоция</label>
                <select id="type" class="form-control">
                    {% for key,val in promotion_types %}
                        <option value="{{ key }}">{{ val }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-4 text-left">
            <a href="javascript:void(0)" onclick="new_promotion()" class="btn btn-success mt20">Добави промоция</a>
        </div>
    </div>
    <script type="text/javascript">
        function new_promotion() {
            window.location = '{{ url('homepage') }}manage/promotions/new/'+$('#type').val();
        }
    </script>
{% endblock %}
