{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="form-title">{{ page_title }}</h3>
    {% if users|length > 0 %}
        <div class="table-scrollable">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Потр.име</th>
                    <th>Имейл</th>
                    <th>Регистриран на</th>
                    <th>Роля</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt|date("d.m.Y H:i:s") }}</td>
                        <td>{{ user.getRoleFormatted }}</td>
                        <td>
                            <a href="{{ path('manage_usersbooks', { 'id': user.id }) }}">(притежания)</a>
                            <a href="{{ path('manage_user_edit', { 'id': user.id }) }}">(редакция)</a>
                            &nbsp;<a href="{{ path('manage_user_delete', { 'id': user.id }) }}">(изтрий)</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <div class="row col-md-12 text-right">
        <a href="{{ path('manage_user_new') }}" class="btn btn-success mt20">Добави потребител</a>
    </div>
{% endblock %}
