{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="form-title">{{ page_title }}</h3>
    {% if usersbooks|length > 0 %}
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Книга</th>
                        <th>Количество</th>
                        <th>В продажба</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for userbook in usersbooks %}
                        <tr>
                            <td>{{ userbook.id }}</td>
                            <td>{{ userbook.getBook.title }}</td>
                            <td>{{ userbook.qty }}</td>
                            <td>{% if userbook.selling == 1 %}Да{% else %}Не{% endif %}</td>
                            <td>
                                <a href="{{ path('manage_usersbook_edit', { 'id': userbook.id }) }}">(редакция)</a>
                                &nbsp;<a href="{{ path('manage_usersbook_delete', { 'id': userbook.id }) }}">(изтрий)</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}

    <div class="row col-md-12 text-right">
        <a href="{{ path('manage_usersbook_new', { 'id': edited_user }) }}" class="btn btn-success mt20">Добави притежание</a>
    </div>
{% endblock %}
